<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.min.css" crossorigin="anonymous">
    <script src="javascripts/echarts/echarts.min.js" crossorigin="anonymous"></script>
    <script src="javascripts/socket/socket.io.js" crossorigin="anonymous"></script>

    <title>SDS COEP</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-primary container-fluid">
        <a class="navbar-brand" href="#">Voting App</a>
    </nav>
    <br>
    <input class="form-check-input" type="checkbox" name="php" value="php"> PHP<br><br>
    <input class="form-check-input" type="checkbox" name="nodejs" value="nodejs"> NodeJS<br><br>
    <input class="form-check-input" type="checkbox" name="django" value="django"> DJango<br><br>
    <input class="form-check-input" type="checkbox" name="javaspring" value="javaspring"> Java Spring<br><br>

    <div class=".container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="chartdiv" style="height:300px"></div>
            </div>
        </div>
    </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="javascripts/bootstrap/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="javascripts/bootstrap/popper.min.js" crossorigin="anonymous"></script>
    <script src="javascripts/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>


    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('chartdiv'));
        var currentLocation = window.location;
        var socket = io.connect(currentLocation.protocol + "//" + currentLocation.hostname + ":8080");

        var phpbox = document.querySelector("input[name=php]");
        var djangobox = document.querySelector("input[name=django]");
        var nodejsbox = document.querySelector("input[name=nodejs]");
        var springbox = document.querySelector("input[name=javaspring]");
        // specify chart configuration item and data
        var option = {
            title: {
                text: 'Voting Results'
            },
            tooltip: {},
            legend: {
                data:['']
            },
            xAxis: {
                data: ["PHP","Node","Django","Spring"]
            },
            yAxis: {},
            series: [{
                name: 'Count',
                type: 'bar',
                data: [5, 20, 36, 10]
            }]
        };

        // use configuration item and data specified to show chart
        myChart.setOption(option);

        window.onresize = function(){
            myChart.setOption(option);
        };

        phpbox.addEventListener( 'change', function() {
            if(this.checked) {
                // Checkbox is checked..
                socket.emit('votes', {"php": 1});
            } else {
                // Checkbox is not checked..
                socket.emit('votes', {"php": -1});
            }
        });

        nodejsbox.addEventListener( 'change', function() {
            if(this.checked) {
                // Checkbox is checked..
                socket.emit('votes', {"nodejs": 1});
            } else {
                // Checkbox is not checked..
                socket.emit('votes', {"nodejs": -1});
            }
        });

        djangobox.addEventListener( 'change', function() {
            if(this.checked) {
                // Checkbox is checked..
                socket.emit('votes', {"django": 1});
            } else {
                // Checkbox is not checked..
                socket.emit('votes', {"django": -1});
            }
        });

        springbox.addEventListener( 'change', function() {
            if(this.checked) {
                // Checkbox is checked..
                socket.emit('votes', {"spring": 1});
            } else {
                // Checkbox is not checked..
                socket.emit('votes', {"spring": -1});
            }
        });

        socket.on('voteschanged', function(newvotes){
            console.log(newvotes);
            votesjson = newvotes;

            option['series'][0]['data'] = [votesjson['php'], votesjson['nodejs'], votesjson['django'], votesjson['spring']];
            myChart.setOption(option);
        });

        console.log(currentLocation);
    </script>
</body>
</html>